<a href="https://colab.research.google.com/github/iamjaykumar/Python_advance_topic/blob/main/python_advanced_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Comprehension in python

Comprehensions in Python provide a concise and efficient way to create new sequences from existing ones. They enhance code readability and reduce the need for lengthy loops. Python supports four types of comprehensions:

List Comprehensions
Dictionary Comprehensions
Set Comprehensions
Generator Comprehensions

In [ ]:
l = [1,2,3,4,45,5]
l1 = []
for i in l:
  l1.append(i**2)

In [ ]:
l1

[1, 4, 9, 16, 2025, 25]

These can be done with the help of comprehension in one line in python

In [ ]:
l

[1, 2, 3, 4, 45, 5]

In [ ]:
[i**2 for i in l] #do i**2, in for loop

In [ ]:
#getting even number
[i for i in l if i%2 == 0]

In [ ]:
l1 = ["sudh", "pwskills", "kumar", "data science masters"]

In [ ]:
[i.upper() for i in l1]

In [ ]:
# same thing will happen in tuple
l
list(i**2 for i in l)

Comprehension in dictionary

In [ ]:
d = {"key1":1, "key2":2, "key3":3, "key4":4}

In [ ]:
d.items()
d

In [ ]:
{k:v**2 for k, v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [ ]:
{k:v for k, v in d.items() if v>1} # key value pair, in loop then condition.

{'key2': 2, 'key3': 3, 'key4': 4}

# Generator function in python

yield: Produce a sequence of values
  *Purpose: Pause the function, saving its state and yields(throw) a value to the caller.
  *Behavior: The function can be resumed later, continuing execution from where it left off. This makes it a generator.
  *Use Case: When you want to produce a sequence of values lazily, especially useful for large datasets or streams. USED IN GENERATOR FUNCTION.

return: Exit and Return a Value
  *Purpose: Exits the function and returns a value to the caller.
  *Behavior: Once a return statement is executed, the function terminates, and no further code in the function is executed.
  *Use Case: When you want to compute a value and send it back immediately.

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def test_fib(n):
  a,b = 0,1
  for i in range(n):
    yield a
    a,b = b, a+b

In [ ]:
test_fib(10)

In [ ]:
for i in test_fib(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

In [ ]:
s = "sudh"

In [ ]:
for i in s:
  print(i)

s
u
d
h

In [ ]:
s

'sudh'

In [ ]:
next(s)

TypeError: 'str' object is not an iterator

In [ ]:
s_iter = iter(s)

In [ ]:
next(s_iter)

'd'

In [ ]:
next(s_iter)

's'

In [ ]:
s = "sudh"
s_iter = iter(s)  # Create an iterator from the string
next(s_iter)     # Now you can use next()

's'

# Lambda_function & map,reduce and filter function.

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.
Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:



```
# This is formatted as code
def myfunc(n):
  return lambda a : a * n
```

In [ ]:
n = 3
p=2

In [ ]:
def test(n,p):
  return n**p

In [ ]:
a= test(4,5)
a

In [ ]:
#this can be done with lambda function in a single expression
b = lambda n,p: n**p

In [ ]:
b(4,5)

1024

In [ ]:
finding_min = lambda x,y : x if x>y else y

In [ ]:
finding_min(12312,12343248)

12343248

In [ ]:
# we can also do addition, substraction, division and multiplication etc....
add = lambda x,y: x+y
sub = lambda x,y: x-y
mul = lambda x,y: x*y
div = lambda x,y: x/y

In [ ]:
print(add(3,2))
print(sub(3,2))
print(mul(3,2))
print(div(3,2))

5
1
6
1.5

Now, we'll talk about map, reduce and filter function.

In [ ]:
l = [2,3,4,5,6]

In [ ]:
def sq(x):
  return x**2

In [ ]:
list(map(sq,l)) # map function only map the specific data

[4, 9, 16, 25, 36]

In [ ]:
list(map(lambda x: x**2, l))

[4, 9, 16, 25, 36]

In [ ]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
list(map(lambda x,y : x+y ,l1,l2))

[7, 9, 11, 13, 15]

The reduce() function in Python is a powerful tool for performing cumulative operations on a sequence of elements, reducing them to a single value. It is part of the functools module and is often used in functional programming.

In [ ]:
from functools import reduce

In [ ]:
l = [3,4,5,6,7,8,9]

In [ ]:
l

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
reduce(lambda x,y : x+y, l) # reduce function reduce the

42

In [ ]:
reduce(lambda x,y: x*y, l)

181440

The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

Parameter	Description
function	A Function to be run for each item in the iterable
iterable	The iterable to be filtered

In [ ]:
l = [-13,1,2,3,4,5]
l

[-13, 1, 2, 3, 4, 5]

In [ ]:
list(filter(lambda x: x%2 == 0, l))

[2, 4]

In [ ]:
list(filter(lambda x: x<0,l ))

[-13]

In [ ]:
l2 = ["sudh", "pwskills","kumar","banglore","krish"]
list(filter(lambda x: len(x)>6, l2))

['pwskills', 'banglore']

# Object Oriented Programming

In [ ]:
class test:
  def welcome():
    print("Welcome to Google collab")