<a href="https://colab.research.google.com/github/iamjaykumar/Python_advance_topic/blob/main/Python_advanced_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Comprehension in python

Comprehensions in Python provide a concise and efficient way to create new sequences from existing ones. They enhance code readability and reduce the need for lengthy loops. Python supports four types of comprehensions:

List Comprehensions
Dictionary Comprehensions
Set Comprehensions
Generator Comprehensions

In [ ]:
l = [1,2,3,4,45,5]
l1 = []
for i in l:
  l1.append(i**2)

In [ ]:
l1

[1, 4, 9, 16, 2025, 25]

These can be done with the help of comprehension in one line in python

In [ ]:
l

[1, 2, 3, 4, 45, 5]

In [ ]:
[i**2 for i in l] #do i**2, in for loop

In [ ]:
#getting even number
[i for i in l if i%2 == 0]

In [ ]:
l1 = ["sudh", "pwskills", "kumar", "data science masters"]

In [ ]:
[i.upper() for i in l1]

In [ ]:
# same thing will happen in tuple
l
list(i**2 for i in l)

Comprehension in dictionary

In [ ]:
d = {"key1":1, "key2":2, "key3":3, "key4":4}

In [ ]:
d.items()
d

In [ ]:
{k:v**2 for k, v in d.items()}

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [ ]:
{k:v for k, v in d.items() if v>1} # key value pair, in loop then condition.

{'key2': 2, 'key3': 3, 'key4': 4}

# Generator function in python

yield: Produce a sequence of values
  *Purpose: Pause the function, saving its state and yields(throw) a value to the caller.
  *Behavior: The function can be resumed later, continuing execution from where it left off. This makes it a generator.
  *Use Case: When you want to produce a sequence of values lazily, especially useful for large datasets or streams. USED IN GENERATOR FUNCTION.

return: Exit and Return a Value
  *Purpose: Exits the function and returns a value to the caller.
  *Behavior: Once a return statement is executed, the function terminates, and no further code in the function is executed.
  *Use Case: When you want to compute a value and send it back immediately.

In [ ]:
range(10)

range(0, 10)

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
def test_fib(n):
  a,b = 0,1
  for i in range(n):
    yield a
    a,b = b, a+b

In [ ]:
test_fib(10)

In [ ]:
for i in test_fib(10):
  print(i)

0
1
1
2
3
5
8
13
21
34

In [ ]:
s = "sudh"

In [ ]:
for i in s:
  print(i)

s
u
d
h

In [ ]:
s

'sudh'

In [ ]:
next(s)

TypeError: 'str' object is not an iterator

In [ ]:
s_iter = iter(s)

In [ ]:
next(s_iter)

'd'

In [ ]:
next(s_iter)

's'

In [ ]:
s = "sudh"
s_iter = iter(s)  # Create an iterator from the string
next(s_iter)     # Now you can use next()

's'

# Lambda_function & map,reduce and filter function.

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.
Why Use Lambda Functions?
The power of lambda is better shown when you use them as an anonymous function inside another function.

Say you have a function definition that takes one argument, and that argument will be multiplied with an unknown number:



```
# This is formatted as code
def myfunc(n):
  return lambda a : a * n
```

In [ ]:
n = 3
p=2

In [ ]:
def test(n,p):
  return n**p

In [ ]:
a= test(4,5)
a

In [ ]:
#this can be done with lambda function in a single expression
b = lambda n,p: n**p

In [ ]:
b(4,5)

1024

In [ ]:
finding_min = lambda x,y : x if x>y else y

In [ ]:
finding_min(12312,12343248)

12343248

In [ ]:
# we can also do addition, substraction, division and multiplication etc....
add = lambda x,y: x+y
sub = lambda x,y: x-y
mul = lambda x,y: x*y
div = lambda x,y: x/y

In [ ]:
print(add(3,2))
print(sub(3,2))
print(mul(3,2))
print(div(3,2))

5
1
6
1.5

Now, we'll talk about map, reduce and filter function.

In [ ]:
l = [2,3,4,5,6]

In [ ]:
def sq(x):
  return x**2

In [ ]:
list(map(sq,l)) # map function only map the specific data

[4, 9, 16, 25, 36]

In [ ]:
list(map(lambda x: x**2, l))

[4, 9, 16, 25, 36]

In [ ]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
list(map(lambda x,y : x+y ,l1,l2))

[7, 9, 11, 13, 15]

The reduce() function in Python is a powerful tool for performing cumulative operations on a sequence of elements, reducing them to a single value. It is part of the functools module and is often used in functional programming.

In [ ]:
from functools import reduce

In [ ]:
l = [3,4,5,6,7,8,9]

In [ ]:
l

[3, 4, 5, 6, 7, 8, 9]

In [ ]:
reduce(lambda x,y : x+y, l) # reduce function reduce the

42

In [ ]:
reduce(lambda x,y: x*y, l)

181440

The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

Parameter	Description
function	A Function to be run for each item in the iterable
iterable	The iterable to be filtered

In [ ]:
l = [-13,1,2,3,4,5]
l

[-13, 1, 2, 3, 4, 5]

In [ ]:
list(filter(lambda x: x%2 == 0, l))

[2, 4]

In [ ]:
list(filter(lambda x: x<0,l ))

[-13]

In [ ]:
l2 = ["sudh", "pwskills","kumar","banglore","krish"]
list(filter(lambda x: len(x)>6, l2))

['pwskills', 'banglore']

# Object Oriented Programming

In [ ]:
class test:
  def welcome():
    print("Welcome to Google collab")

In [ ]:
a  = test()
a.welcome()

TypeError: test.welcome() takes 0 positional arguments but 1 was given

self is conventionally used as the first parameter in instance methods within a Python class. It represents the instance of the class itself.

Here's why self is used:

Accessing Instance Attributes and Methods: Within an instance method, self allows you to access the attributes (data) and other methods defined for that specific instance of the class. For example, if you had an attribute self.name, you would use self.name inside a method to refer to that instance's name.

Distinguishing Instance Methods: When you define a method inside a class without self as the first parameter, it's treated as a static method or a class method (depending on decorators like @staticmethod or @classmethod). Including self explicitly marks it as an instance method, meaning it operates on a specific instance of the class.

Implicit Passing: When you call an instance method on an object (like a.welcome()), Python automatically passes the object a as the first argument to the welcome method. This argument is received by the parameter self in the method's definition. You don't explicitly pass a when calling a.welcome().

In essence, self acts as a reference to the object that the method is being called on, allowing the method to interact with the data and behavior of that particular object. While you could technically name this parameter something else, self is the universally accepted convention and makes the code much more readable and understandable to other Python developers.

In [ ]:
class test:
  def welcome(self):
    print("Welcome to Google collab")

a  = test()
a.welcome()

Welcome to Google collab

In [ ]:
class test1:
  def __init__(self, phone_number, email_id, student_id):
    self.phone_number = phone_number
    self.email_id = email_id
    self.student_id = student_id
  def return_student_details(self):
      return self.student_id, self.phone_number, self.email_id

In [ ]:
jay = test1(87545645489, "jay@gmail.com", 101)

In [ ]:
jay.return_student_details()

(101, 87545645489, 'jay@gmail.com')

In [ ]:
bijay = test1(87545645489, "bijay@gmail.com", 102)

In [ ]:
bijay.return_student_details()

(102, 87545645489, 'bijay@gmail.com')

Self is not a reverbed keyword. It is used for pointing or (pointer), we can also use other word as a keyword

In [ ]:
class test2:
  def __init__(jay, phone_number, email_id, student_id):
    jay.phone_number = phone_number
    jay.email_id = email_id
    jay.student_id = student_id
  def return_student_details(jay):
      return jay.student_id, jay.phone_number, jay.email_id

In [ ]:
buju = test2(87545645489, "buju@gmail.com", 103)
buju.return_student_details()

(103, 87545645489, 'buju@gmail.com')

# **POLYMORPHISM:** ONE ENTITY VARIOUS CHARACTER.

In [ ]:
class datascience:
  def syllabus(self):
    print("this is my datascience class")

class web_dev:
  def syllabus(self):
    print("this is my web dev class")

In [ ]:
def class_parcer(class_obj):
  for i in class_obj:
    i.syllabus()

In [ ]:
data_science= datascience()
webdev = web_dev()

In [ ]:
class_obj = [data_science, webdev]

In [ ]:
class_parcer(class_obj)

this is my datascience class
this is my web dev class

**ENCAPSULATION: **  Encapsul like a tablet.

In [ ]:
class car:
  def __init__(self,year,make,model,speed):
    self.__year = year
    self.__make = make
    self.__model = model
    self.__speed = 0
  def set_speed(self,speed):
    self.__speed = 0 if speed < 0 else speed
  def get_speed(self):
    return self.__speed

In [ ]:
c = car(2021,"toyata","innova",12)

In [ ]:
c.set_speed(12999)

In [ ]:
c.get_speed()

12999

In [ ]:
c._car__year

2021

In [ ]:
class bank_account:
  def __init__(self, balance):
    self.__balance = balance
  def deposit(self, amount):
    self.__balance = self.__balance + amount
  def withdraw(self, amount):
    if self.__balance >= amount:
      self.__balance = self.__balance - amount
      return True
    else:
      print("Not sufficient amount")

  def get_balance(self):
    return self.__balance

In [ ]:
sudh = bank_account(1000)

In [ ]:
sudh.get_balance()

1000

In [ ]:
sudh.deposit(5000)

In [ ]:
sudh.withdraw(7000)

Not sufficient amount

**INHERITAGE:** Inherit from other or parent.

Single Inheritance: A child class inherits from one parent class.
Multiple Inheritance: A child class inherits from more than one parent class.
Multilevel Inheritance: A class is derived from a class which is also derived from another class.
Hierarchical Inheritance: Multiple classes inherit from a single parent class.
Hybrid Inheritance: A combination of more than one type of inheritance.

In [ ]:
class class_1:
  def class1_test(self):
    print("This is the first test class")

class class_2(class_1):
  def class2_test(self):
    print("This is the second test class")

class class_3(class_2):
  pass

In [ ]:
class_obj= class_3()
class_obj.class1_test()

This is the first test class

In [ ]:
class_obj.class2_test()

This is the second test class

In [ ]:
class dormitory_1:
  def dormitory_room(self):
    print("This is the first room")

class dormitory_2:
  def dormitory_room(self):
    print("This is the second room")
class dormitory_3(dormitory_1,dormitory_2):
  pass

In [ ]:
dormitory3_obj = dormitory_3()

In [ ]:
dormitory3_obj.dormitory_room()

This is the first room

# **ABSTRACTION**: Abstraction focuses on hiding the internal implementations of a process or method from the user.

For example, people do not think of a car as a set of thousands of individual parts. Instead they see it as a well-defined object with its own unique behavior. This abstraction allows people to use a car to drive without knowing the complexity of the parts that form the car. They can ignore the details of how the engine transmission, and braking systems work. Instead, they are free to utilize the object as a whole.

In [ ]:
import abc
class ranikamalapati:
  @abc.abstractclassmethod
  def platform(self):
    pass
  @abc.abstractclassmethod
  def dormitory(self):
    pass
  @abc.abstractclassmethod
  def platform3(self):
    pass

In [ ]:
class platform101(ranikamalapati):
  def platform(self):
    return "this is my platform1"
  def dormitory(self):
    return "The dormitory is in platform1"

class platform201(ranikamalapati):
  def platform(self):
    return "This is 2nd platform"
  def dormitory(self):
    return "The dormitory isn't in the platform2"
class platform301(ranikamalapati):
  def platform(self):
    return "This is 2nd platform"
  def dormitory(self):
    return "The dormitory isn't in the platform3"

In [ ]:
pdf = platform301()
pdf.platform()

'This is 2nd platform'

**DECORATORS:** are a powerful and flexible way to modify or extend the behavior of functions or methods, without changing their actual code. A decorator is essentially a function that takes another function as an argument and returns a new function with enhanced functionality.

In [ ]:
import time
def timer_test(func):
  def timer_test_inner():
    start = time.time()
    func()
    end = time.time()
    print(end-start)
  return timer_test_inner

In [ ]:
def test1():
  print(45+78)

In [ ]:
test1()

123

In [ ]:
@timer_test
def test1():
  print(45+78)

In [ ]:
test1()

123
0.0002613067626953125

SPECIAL( MAGIC or DUNDER) Method

In [ ]:
class rkmp:
  def __init__(self):
    self.mobile_number = 955648651
  def __str__(self):
    return "this is my magic call of str"

In [ ]:
psw = rkmp()
psw

In [ ]:
print(psw)

this is my magic call of str

In [ ]:
a= 100
a+5

105

In [ ]:
# With the help of magic method/function.
b = 103
b.__add__(5)

108

## Working with **Files**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
f = open("test.txt", "w")

In [ ]:
pwd

'/content'

In [ ]:
ls

sample_data/  test.txt

In [ ]:
f.write(" This is my first file to write")

31

In [ ]:
f.close()

In [ ]:
f = open("test.txt","w")

In [ ]:
f.write("This is my new one")

18

In [ ]:
f.close()

In [ ]:
f = open("test.txt","a")
f.write("Jay kumar is a good boy. He is going to bhopal.")

47

In [ ]:
f.close()

In [ ]:
f = open("test.txt","r")
f.read()
f.seek(0) # point to the 0 index.
f.readline()

'This is my new onefile to writeJay kumar is a good boy. He is going to bhopal.'

In [ ]:
import os
os.path.getsize("test.txt") # give the actual size of the file.
os.remove("test.txt") # this will remove the file.

In [ ]:
f = open("test1.txt","w")
f.write("This is my first file to write")
f.close()

In [ ]:
os.rename("test1.txt","test.txt")

In [ ]:
with open("test.txt","r") as f:
  print(f.read())

This is my first file to write

Files reading and Writing

In [ ]:
data = {
    "name": "sudh",
    "mail_id": "sudh@gmail.com",
    "phone_number": 9876543210,
    "subject": ["data science", "big data", "data analytics"]
}

In [ ]:
import json

In [ ]:
with open("data.json","w") as f:
  json.dump(data,f)

In [ ]:
with open("data.json","r") as f:
  data1 = json.load(f)
data1

{'name': 'sudh',
 'mail_id': 'sudh@gmail.com',
 'phone_number': 9876543210,
 'subject': ['data science', 'big data', 'data analytics']}

In [ ]:
data1['subject'][1]

'big data'

Write and reading data in csv files

In [ ]:
import csv

In [ ]:
data = [
    ["name", "email_id", "number"],
    ["sudh", "sudh@gmail.com", 9876543210],
    ["krish", "krish@gmail.com", 8765432109]
]

In [ ]:
with open("data.csv","w") as f:
  writer = csv.writer(f)
  for i in data:
    writer.writerow(i)

In [ ]:
with open("data.csv","r") as f:
  read_data= csv.reader(f)
  for i in read_data:
    print(i)

['name', 'email_id', 'number']
['sudh', 'sudh@gmail.com', '9876543210']
['krish', 'krish@gmail.com', '8765432109']

storing binary data

In [ ]:
with open("text.bin","wb") as f:
  f.write(b"\x01\x02\x03")

In [ ]:
with open("text.bin","rb") as f:
  print(f.read())

b'\x01\x02\x03'

buffered mode read and write files

In [ ]:
import io
with open("Test1.txt","wb") as f:
  file = io.BufferedWriter(f)
  file.write(b"This is my first line\n")
  file.write(b"This is my second line\n")
  file.flush()

# Logging debuggers

In [ ]:
print("This is print the statement into console") # will print the statement into console.

This is print the statement into console

In [ ]:
import logging

In [ ]:
logging.basicConfig(filename = "test.log", level = logging.INFO)

In [ ]:
logging.info("This is my info log")
logging.warning("This is my warning log")
logging.error("This is my error log")
logging.debug("This is my debug log")

WARNING:root:This is my warning log
ERROR:root:This is my error log

In [ ]:
logging.shutdown()

A debug log is a detailed record of events that occur during the execution of a software program. Think of it as a black box recorder for your application. It meticulously captures information about what the code is doing, providing developers with a crucial tool for diagnosing problems.
1. NOTSET
2. DEBUG
3. WARNING
4. ERROR
5. INFO
6. CRITICAL

In [ ]:
logging.basicConfig(filename = "test1.log", level = logging.DEBUG, format = '%(asctime)s %(message)s')

In [ ]:
logging.info("This is my info log")
logging.warning("This is my warning log")
logging.error("This is my error log")
logging.debug("This is my debug log")

WARNING:root:This is my warning log
ERROR:root:This is my error log

In [ ]:
!ls
!cd sample_data

data.csv  data.json  sample_data  Test1.txt  test.txt  text.bin

In [ ]:
ls

data.csv  data.json  sample_data/  Test1.txt  test.txt  text.bin